@page "/PatientForm"

<h3>Patient Registration</h3>
<EditForm Model="@Model" OnValidSubmit="HandleSubmit">
    <!-- Name Arabic -->
    <CZField Label="Name (Arabic)">
        <InputText class="form-control" @bind-Value="Model.NameAr" />
    </CZField>
    <!-- Name English -->
    <CZField Label="Name (English)">
        <InputText class="form-control" @bind-Value="Model.NameEn" />
    </CZField>
    <!-- Email -->
    <CZField Label="Email">
        <InputText class="form-control" @bind-Value="Model.Email" />
    </CZField>
    <!-- Gender -->
    <!-- Military Status -->
    <!-- Phone -->
    <CZField Label="Phone">
    <InputText @bind-Value="Model.Phone" class="form-control" />
    </CZField>
    <!-- National Id -->
    <CZField Label="National ID">
    <InputText @bind-Value="Model.NationalId" class="form-control" />
    </CZField>
    <!-- DOB (Date) -->
    <CZField Label="Date of Birth">
    <InputDate @bind-Value="Model.DateOfBirth" class="form-control"/>
    </CZField>
    <!-- DOB (Y/M/D) -->
    <!-- Age (Y/M/D) -->
    <!-- Photo -->
    <!-- Attach File -->


    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</EditForm>
@code {
    private PatientModel Model = new();
    private void HandleSubmit()
    {
        Console.WriteLine($"Submitted Name: {Model.NameAr}");
    }
}
