<div class="row">
    <div class="col-md-4">
        <label class="form-label">Years</label>
        <InputNumber class="form-control"
                     @bind-Value="Years"
                     max="124"
                     min="0"
                    />
    </div>
    <div class="col-md-4">
        <label class="form-label">Months</label>
        <InputNumber class="form-control"
                     @bind-Value="Months"
                     min="0" 
                     max="11" />
    </div>
    <div class="col-md-4">
        <label class="form-label">Days</label>
        <InputNumber class="form-control"
                     @bind-Value="Days"
                     min="0"
                     max="30"/>
    </div>
    <button class="btn btn-secondary w-25 mt-2 m-auto" @onclick="SubmitAge">Set Age</button>
</div>

@code {
    [Parameter] public int Years { get; set; }
    [Parameter] public int Months { get; set; }
    [Parameter] public int Days { get; set; }

    [Parameter] public EventCallback<(int Years, int Months, int Days)> OnAgeChanged { get; set; }

    private async Task OnChanged(ChangeEventArgs e)
    {
        await OnAgeChanged.InvokeAsync((Years, Months, Days));
    }
    private async Task SubmitAge()
    {
        await OnAgeChanged.InvokeAsync((Years, Months, Days));
    }
}
